<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="tutorialsninja">
	<listeners>
		<listener class-name="com.tutorialsninja.qa.listeners.Mylistenerssecondfile"></listener>
	</listeners>
  <test name="firsttestng">
	  
    <classes>
      <class name="com.tutorialsninja.qa.testcases.register"/>
      <class name="com.tutorialsninja.qa.testcases.Login"/>
      <class name="com.tutorialsninja.qa.testcases.search"/>
      
    </classes>
  </test> <!-- firsttestng -->
</suite> <!-- tutorialsninja -->
